/* nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #333;
    color: #fff;
}

nav .logo, nav .login-register a {
    color: white;
    text-decoration: none;
} */